name: <%= @appname %>
version: 0.1.0

authors:
  - <%= "#{@name} <#{@email}>" %>

targets:
  <%= @appname %>:
    main: src/<%= @appname %>.cr

crystal: <%= @crystal %>

license: MIT

dependencies:

development_dependencies:
  microtest:
    github: ragmaanir/microtest
    version: ~> 1.2.0
