name: <%= @appname %>
version: 0.1.0

authors:
  - <%= "#{@name} <#{@email}>" %>

targets:
  <%= @appname %>:
    main: src/<%= @appname %>.cr

crystal: <%= @crystal %>

license: MIT

development_dependencies:
  microtest:
    github: ragmaanir/microtest
    version: ~> 1.2.0

# dependencies:
#   name:
#     github: user/name
#     version: ~> 1.0.0
